@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar do-not-print">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-button-bar do-not-print px-4">
            <NavLink class="top-button-link" href="world"><span class="oi oi-globe" aria-hidden="true"></span> Galaxy Index</NavLink>
            <NavLink class="top-button-link" href="uwp"><span class="oi oi-list-rich" aria-hidden="true"></span> Universal World Profile</NavLink>
            <NavLink class="top-button-link" href="character"><span class="oi oi-person" aria-hidden="true"></span> Character Generator</NavLink>
            <NavLink class="top-button-link" href="contacts"><span class="oi oi-people" aria-hidden="true"></span> Contact Generator</NavLink>
            <NavLink class="top-button-link" href="crew"><span class="oi oi-people" aria-hidden="true"></span> Crew Generator</NavLink>
            <NavLink class="top-button-link" href="encounters"><span class="oi oi-puzzle-piece" aria-hidden="true"></span> Encounters</NavLink>
            <NavLink class="top-button-link" href="world/M1105/-4,-1/2036/trade"><span class="oi oi-briefcase" aria-hidden="true"></span> World Trade</NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
